# tools stuff
.gradle
gradle.properties
.gradletasknamecache
.project
**/.vscode*
**/*prefs
**/packer-cache
**/.vagrant
**/output*
**/build

# image files
**/*.box
**/*.iso

# Windows Imaging stuff
wim

# packer variable files
/packerfiles/variables*.cfg