# tools stuff
.gradle
gradle.properties
**/packer-cache
**/.vagrant
**/output*
**/build

# image files
**/*.box
**/*.iso

# Windows Imaging stuff
wim

# packer variable files
/packerfiles/variables*.cfg